.container {
    padding: 12px;
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    background-color: var(--background);
    border-radius: 12px;
}

.container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container button {
    background-color: var(--background-medium);
    border-style: none;
    border-radius: 99px;
    border-style: none;
    padding: 12px 24px;
    font-size: 18px;
    width: fit-content;
}

.container span {
    text-align: center;
    color: var(--primary);
    font-size: 32px;
}